version: "3"
services:
  dev:
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        # Update the VARIANT arg to pick a Java version >= 11
        "VARIANT": "11"
        # Options to install Maven or Gradle
        "INSTALL_MAVEN": "true"
        "MAVEN_VERSION": "3.6.3"
        "MAVEN_DOWNLOAD_SHA": "c35a1803a6e70a126e80b2b3ae33eed961f83ed74d18fcd16909b2d44d7dada3203f1ffe726c17ef8dcca2dcaa9fca676987befeadc9b9f759967a8cb77181c0"
        "INSTALL_GRADLE": "true"
        "GRADLE_VERSION": "5.4.1"
        "GRADLE_DOWNLOAD_SHA": "7bdbad1e4f54f13c8a78abc00c26d44dd8709d4aedb704d913fb1bb78ac025dc"
        "INSTALL_NODE": "false"
        "NODE_VERSION": "lts/*"
        # For Linux, Change the permission by specifying UID / GID.
        "USER_UID": "9024"
        "USER_GID": "2000"
    tty: true
    volumes: 
      - $HOME/.gitconfig:/home/vscode/.gitconfig
      - $HOME/.ssh:/home/vscode/.ssh
      #- ./docker/dev/.m2:/home/vscode/.m2
      #- ./docker/dev/.gradle:/home/vscode/.gradle
      - ..:/workspace
    working_dir: /workspace
